#main
{
	max-width: 1920px;
	margin: 0 auto;
}

/*
BUTTONS
*/
.button
{
	background-color: #242325;
	border-radius: 14px;
	padding: 0.5vw 1vw;
	margin: 0.3vw;
	margin-bottom: 3vw;

	font-size: 1.5vw;
	font-family: "forma-djr-display", sans-serif;
	color:white;
	align-self: center;

	transition-duration: 0.3s;
}
	.button:hover
	{
		background-color: white;
		color:black;
	}

/*
DEFAULTS
*/

h1
{
	font-size: 18vw;
	color: black;
	text-align: center
}

body
{
	.name
	{
		margin-left: 18vw;
		text-align: center;
		color: black;
		font-size: 7vw;
		font-family: times;
	}
	.caption
	{
		letter-spacing: 2px;
		font-style: italic;
		font-size: 2.5vw;
		font-family: "forma-djr-display", sans-serif;
		padding-right: 2vw;
	}
	.pinkbox
	{
		border-radius: 14px;
		margin-left: 18vw;
		margin-right: 18vw;
		position: relative;
		background-color: rgb(250, 233, 236);

		font-size: 1.9vw;
		font-family: "forma-djr-display", sans-serif;
		font-style: italic;
		padding-top: 4vw;
		padding-left: 4vw;
	}
	background-color: white;

	#lights
	{
		content: url("img/lighton.png");
	}
}

.dark-mode
{
	/* background-image: url("starry.gif"); */
	background-color:#131314;
	transition-duration: 0.7s;
	transition-property: unset;
	.name
	{
		color: rgb(250, 233, 236);
	}
	.caption
	{
		color: rgb(250, 233, 236);
	}
	.pinkbox
	{
		/* background-image: url("comet.gif"); */
		background-color:#131314;
		transition-duration: 1.2s;
		border-style:outset;
		border-color: rgb(250, 233, 236);
		color: rgb(250, 233, 236);
	}

	.button
	{
		background-color: transparent;
		border-radius: 14px;
		border-color:rgb(250, 233, 236);

		color:rgb(250, 233, 236);
		transition-duration: 0.3s;
	}
		.button:hover
		{
			background-color: rgb(250, 233, 236);
			color:black;
		}

	#lights
	{
		content: url("img/lightoff.png");
	}
}

/* .starry-mode
{
	background-color: none;
	background-image: url("starry.gif");
} */