#main
{
	max-width: 1920px;
	margin: 0 auto;
}

#lights
{
	content: url("img/lighton.png");
	max-width: 5vw;
	max-height: auto;
}

/*
BUTTONS
*/

.button
{
	background-color: #2A2829;
	border:none;
	border-radius: 14px;
	padding: 0.5vw 1vw;
	margin: 0.3vw;

	font-size: 1.5vw;
	font-family: "forma-djr-display", sans-serif;
	color:#FDFAF7;
	align-self: center;
	transition-duration: 0.3s;
}
	.button:hover
	{
		background-color: #FDFAF7;
		color:#2A2829;
	}

.button--lt
{
	background-color: transparent;
	border-color:#2A2829;
	border-width: 3px;
	border-radius: 5px;
	padding: 0.2vw 0.4vw;

	font-family:times;
	font-style:italic;
	font-size: 1.5vw;
}
	.button-lt:hover
	{
		scale: 110%;
		transition-duration: 0.7s;
		text-decoration:underline;
	}

.menustyle
{
	word-spacing: 1vw;
	text-align: center;
	margin: 1vw 18vw;
}


/*
DEFAULTS
*/

header
{
	text-align: center;
}


body
{ 
	background-color: #FDFAF7;
	transition-duration: 0.8s;
}

/* CONTAINERS */

.box
{
	width: 45vw;
	height: 18vw;
	display:block;
	margin: 0 auto;

	opacity: 1;
	border-radius: 14px;

	/* text style */
	padding: 4vw;
	padding-bottom: 1.5vw;
	font-size: 1.9vw;
	list-style:inside;
	font-family: "forma-djr-display", sans-serif;
	font-style: italic;

}

.box--pink
{
	background-color: #FDDDDD;
}

/* TEXT */

.name
{
	color:#2A2829;
	font-size: 7vw;
	font-family: times;
}
.caption
{
	letter-spacing: 2px;
	font-style: italic;
	font-size: 2.5vw;
	font-family: "forma-djr-display", sans-serif;
	padding-right: 2vw;
}

/*
* DARK MODE
*/

.dark-mode
{
	background-color:#161515;
	transition-duration: 0.9s;
	.name
	{
		color: #CCBDBD;
	}
	.caption
	{
		color: #CCBDBD;
	}
	.box--pink
	{
		background-color:#2A2829;
		color: #CCBDBD;
	}

	.button
	{
		background-color: #161515;
		color:#CCBDBD;
	}
		.button:hover
		{
			background-color: #CCBDBD;
			color:#2A2829;
		}

	#lights
	{
		content: url("img/lightoff.png");
	}
}