/* .square
{
    width: 5vw;
    height: 5vw;
    background: blue;
    opacity: 0;
    transition-duration: 0.5s;
}

.square-wrapper
{
    width: 5vw;
    height: 5vw;
    border-style:dotted;
    border-color:orange;
}

.square-transition
{
    opacity: 1;
    transform: none;
} */